Repository acm-ucr/aiatucr-website, pull requests merged in 2024-08, with the labels that each got.

#63 Width added to Offering Cards
  src/components/landing/OfferingCard.jsx
  src/components/landing/OfferingCards.jsx
Labels: Landing, Ready for Review

#62 Added headers to board, events, and projects page
  src/app/board/page.js
  src/app/events/page.js
  src/app/projects/page.js
Labels: Ready for Review, General

#61 shortened the footer
  src/components/Footer.jsx
Labels: Ready for Review, General

#64 Kevinloritsch/responsifyHeader
  src/components/Footer.jsx
  src/components/NavBar.jsx
Labels: enhancement, Ready for Review

#65 added drop shadow to information
  src/components/landing/Information.jsx
  src/components/landing/Introduction.jsx
Labels: Landing, Changes Requested

#30 Implement Project Card
  public/images/projectCard.webp
  src/app/projects/page.js
  src/components/projects/ProjectCardLeft.jsx
  src/components/projects/ProjectCardRight.jsx
Labels: Ready for Review, Projects

#52 Added responsiveness
  src/app/page.js
  src/components/Header.jsx
Labels: General

#74 Added Constant Height to Offering Cards
  src/components/landing/OfferingCard.jsx
  src/components/landing/OfferingCards.jsx
Labels: Landing, Ready for Review

#67 Added gap between the title and subtitle
  src/components/landing/Introduction.jsx
Labels: Landing, Ready for Review

#76 Fixed responsiveness issue on information card
  src/components/landing/Information.jsx
Labels: Landing

#79 Kevinloritsch/setupCalendar
  package-lock.json
  package.json
  src/components/calendar/Calendar.jsx
  src/components/calendar/CustomEvents.jsx
  src/components/calendar/CustomHeader.jsx
  src/components/calendar/CustomToolbar.jsx
  src/components/calendar/EventCard.jsx
  src/components/calendar/Modal.jsx
  src/components/calendar/index.css
  src/components/events/Event.jsx
  src/components/events/Events.jsx
  src/components/events/UpcomingEvents.jsx
Labels: enhancement, Ready for Review

#77 Fixes footer icon spacing
  src/components/Footer.jsx
Labels: Ready for Review, General

#78 adjusted logo in nav bar
  src/components/NavBar.jsx
Labels: Ready for Review, General

#66 add dummy issue #57
  src/app/board/page.js
  src/app/component/page.js
  src/app/layout.js
  src/components/board/Board.jsx
  src/components/board/Boards.jsx
  src/data/Board.js
Labels: General, Do Not Merge

#80 Fixed Project Card Sizing
  src/components/projects/ProjectCardLeft.jsx
  src/components/projects/ProjectCardRight.jsx
Labels: Ready for Review, Projects

#94 Made Calendar Wider
  src/components/calendar/Calendar.jsx
Labels: Ready for Review, Events, Calendar

#96 Made the calendar days small and aligned on the right
  src/components/calendar/index.css
Labels: Ready for Review, Events, Calendar

#95 Style Calendar Weekdays
  src/components/NavBar.jsx
  src/components/calendar/CustomHeader.jsx
Labels: Ready for Review, Calendar

#92 current custom events needs updating
  src/components/calendar/Calendar.jsx
  src/components/calendar/CustomEvents.jsx
Labels: Ready for Review, Calendar

#75 shortened headers
  src/components/Header.jsx
Labels: General, Changes Requested

#99 Project Card Responsiveness
  src/components/projects/ProjectCardLeft.jsx
  src/components/projects/ProjectCardRight.jsx
Labels: Ready for Review, Projects

#98 Fixed mobile text size for information card
  src/components/landing/Information.jsx
Labels: Landing, Ready for Review

#102 Made information text smaller on landing page
  src/components/landing/Information.jsx
Labels: Landing, Ready for Review

#103 added fonts
  package-lock.json
  package.json
  src/app/layout.js
  src/components/Footer.jsx
  src/components/Header.jsx
  src/components/NavBar.jsx
  src/components/board/Board.jsx
  src/components/events/Card.jsx
  src/components/events/UpcomingEvents.jsx
  src/components/landing/Information.jsx
  src/components/landing/Introduction.jsx
  src/components/landing/OfferingCard.jsx
  src/components/landing/OfferingCards.jsx
  src/components/projects/ProjectCardLeft.jsx
  src/components/projects/ProjectCardRight.jsx
  tailwind.config.js
Labels: General

#116 fixed header responsiveness for mobile
  src/components/Header.jsx
Labels: Ready for Review, General

#124 Fixed introduction component grid lines and button
  src/components/landing/Introduction.jsx
Labels: Landing, Ready for Review

#123 Updated join link
  src/components/NavBar.jsx
Labels: Ready for Review, General

#122 Added Links to Footer
  src/components/Footer.jsx
Labels: Ready for Review, General

#125 Kevinloritsch/navbarIssue
  src/components/NavBar.jsx
Labels: enhancement, Ready for Review

#120 Offering Card Update
  src/components/landing/OfferingCard.jsx
  src/components/landing/OfferingCards.jsx
  src/data/Offerings.js
Labels: Landing, Ready for Review

#105 adding info to the board component
  images/meganyip.jpg
  public/images/JohnnyZMeetTheStaffPhoto.webp
  public/images/christinekim.webp
  public/images/freddysong.webp
  public/images/gregversteeg.webp
  public/images/meganyip.webp
  public/images/michaelchen.webp
  public/images/sazenshakya.webp
  src/components/board/Board.jsx
  src/components/board/Boards.jsx
  src/data/Board.js
Labels: Board, Do Not Merge

#126 added top drop shadow to information
  src/components/landing/Information.jsx
  src/components/landing/Introduction.jsx
  tailwind.config.js
Labels: General

#91 Hackinrish/style calendarr
  package-lock.json
  package.json
  src/components/calendar/CustomHeader.jsx
  src/components/calendar/index.css
Labels: Changes Requested, Calendar

#111 update prod
  images/meganyip.jpg
  package-lock.json
  package.json
  public/images/JohnnyZMeetTheStaffPhoto.webp
  public/images/christinekim.webp
  public/images/freddysong.webp
  public/images/gregversteeg.webp
  public/images/meganyip.webp
  public/images/michaelchen.webp
  public/images/sazenshakya.webp
  src/app/layout.js
  src/components/Footer.jsx
  src/components/Header.jsx
  src/components/NavBar.jsx
  src/components/board/Board.jsx
  src/components/board/Boards.jsx
  src/components/calendar/Calendar.jsx
  src/components/calendar/CustomHeader.jsx
  src/components/calendar/index.css
  src/components/events/Card.jsx
  src/components/events/UpcomingEvents.jsx
  src/components/landing/Information.jsx
  src/components/landing/Introduction.jsx
  src/components/landing/OfferingCard.jsx
  src/components/landing/OfferingCards.jsx
  src/components/projects/ProjectCardLeft.jsx
  src/components/projects/ProjectCardRight.jsx
  src/data/Board.js
  src/data/Offerings.js
  tailwind.config.js
Labels: Do Not Merge
